{% set active_page = "index" %}
{% extends "layout.html" %}


{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Metrics</title>
  <meta http-equiv="refresh" CONTENT="600"/>

{% endblock head %}

{% block body %}

<!-- <div class="row">
  <ul>
    <li><h3><a href="/epochs.html">Epoch View</a></h3></li>
    <li><h3><a href="/targets.html">Target Visits View (program)</a></h3></li>
    <li><h3><a href="/cartons.html">Target Visits View (carton)</a></h3></li>
  </ul>
</div> -->


{% endblock body %}
