<div class="navbar navbar-default">
  <div class="logo">
    <a href="/" class="simple-text logo-normal">LVM {% if isDev %} <span style="color:red"> DEV </span> {% elif isStable %} <span style="color:green"> STABLE </span> {% endif %}</a>
  </div>

  <div class="nav">
    <ul class="nav justify-content-center">
      <li class="nav-item" {% if active_page == "progress" %} style="background-color: rgba(224, 45, 45, .6);" {% endif %}>
        <a class="nav-link" href="/progress.html">
          <p>progress</p>
        </a>
      </li>
      <li class="nav-item" {% if active_page == "tileQuery" %} style="background-color: rgba(224, 45, 45, .6);" {% endif %}>
        <a class="nav-link" href="/tileQuery.html">
          <p>Tile Query</p>
        </a>
      </li>
    </ul>
  </div>
  
</div>
