{% set active_page = "index" %}
{% extends "layout.html" %}


{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Metrics</title>
  <meta http-equiv="refresh" CONTENT="600"/>

  <script src='https://cdn.plot.ly/plotly-2.18.2.min.js'></script>
{% endblock head %}

{% block body %}

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card card-nav-tabs">
        <div class="card-header card-header-danger">
          <h3><a href="/summary.html?mjd={{mjd}}">{{mjd}}</a></h3>
        </div>
        <table class="table" id="expTable" style="height: 300px; overflow-y:scroll; display:block;">
          <thead>
            <tr>
              <th class="text-center">Tile ID</th>
              <th class="text-center">Dither</th>
            </tr>
          </thead>
          <tbody>
        {% for dith in summary %}
          <tr>
            <td>{{dith[0]}}</td>
            <td>{{dith[1]}}</td>
          </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div id="jd"></div>
      <div id="lst"></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div id="alt"></div>
      <div id="hz"></div>
      <div id="seeing"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function drawHist(dat, divName, label){
    let hist = {
      x: dat,
      name: 'x density',
      marker: {color: 'DodgerBlue'},
      type: 'histogram'
    };
    let data = [hist];
  
    let layout = {
      showlegend: false,
      autosize: false,
      width: 400,
      height: 300,
      margin: {t: 50},
      title: label,
      hovermode: 'closest',
      bargap: 0,
      xaxis: {
        title: label,
        showgrid: false,
        zeroline: false
      }
    }
    Plotly.newPlot(divName, data, layout);
  };

  var jd = {{jd | tojson}};
  drawHist(jd, "jd", "jd");
  var lst = {{lst | tojson}};
  drawHist(lst, "lst", "lst");
  var hz = {{hz | tojson}};
  drawHist(hz, "hz", "hz");
  var alt = {{alt | tojson}};
  drawHist(alt, "alt", "alt");
  // var seeing = {{seeing | tojson}};
  // drawHist(seeing, "seeing", "seeing");

</script>

{% endblock body %}
