{% set active_page = "progress" %}
{% extends "layout.html" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Progress</title>

  <script src='https://cdn.plot.ly/plotly-2.18.2.min.js'></script>
{% endblock head %}

{% block body %}

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div id="dithers"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div id="fractional"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h3>Completed Dithers Summary</h3>
          </div>
          <button type="button" class="btn btn-default"  onclick="copydoneTilesTable()">Copy to Clipboard</button>
          <div>
            <table class="table" id="doneTiles" style="height: 500px; overflow-y:scroll; display:block;">
              <tbody>
                {% for t in tile_list %}
              <tr>
                <td style="textAlign: right; width: 75px;">{{t[0]}},</td>
                <td style="textAlign: right; width: 75px;">{{t[1]}},</td>
                <td style="textAlign: right; width: 75px;">{{t[2]}},</td>
                <td style="textAlign: right; width: 75px;">{{t[3]}},</td>
                <td style="textAlign: right; width: 75px;">{{t[4]}},</td>
                <td style="textAlign: right; width: 75px;">{{t[5]}}</td>
              </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div id="map"></div>
    </div>
    <div class="card">
      <div id="fracTable">
        <button type="button" class="btn btn-default"  onclick="createFracCompTable()">Create Fractional Completion Table</button>
        <button type="button" class="btn btn-default"  onclick="copyFracCompTable()">Copy to Clipboard</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

var data = [
    {% for targ in cumulative %} 
    {
      name: '{{targ}}',
      id: '{{targ}}',
      mode: 'lines+markers',
      marker: {
        symbol: 'circle',
        size: 3
      },
      x:{{mjds | tojson}},
      y:{{cumulative[targ]| tojson}},
      text: '{{targ}}',
      showInLegend: true
    },
    {% endfor %}
    ];

    var layout = {
    title: {text: "N Dithers Done; full survey is at {{full_survey_count}}"},
    xaxis: {
      zeroline: false,
      hoverformat: '.1f',
      title:{'text': 'MJD'},
      tickformat: ",.3r"
     },
    yaxis: {
      zeroline: false,
      hoverformat: '.1f',
      title:{'text': 'Dithers'}
     },
    legend:{
      itemsizing: 'constant',
      orientation: 'h',
      yref: 'paper',
      y: -0.2
     }
    }
    Plotly.newPlot('dithers', data, layout);
    
    var data = [
    {% for targ in cumulative %} 
    {
      name: '{{targ}}',
      id: '{{targ}}',
      mode: 'lines+markers',
      marker: {
        symbol: 'circle',
        size: 3
      },
      x:{{mjds | tojson}},
      y:{{fractional[targ]| tojson}},
      text: '{{targ}}',
      showInLegend: true
    },
    {% endfor %}
    ];

    var layout = {
    title: {text: "Fractional Completion"},
    xaxis: {
      zeroline: false,
      hoverformat: '.1f',
      title:{'text': 'MJD'},
      tickformat: ",.3r"
     },
    yaxis: {
      zeroline: false,
      hoverformat: '.1f',
      title:{'text': 'Percent Done'},
      tickformat: ".0%"
     },
    legend:{
      itemsizing: 'constant',
      orientation: 'h',
      yref: 'paper',
      y: -0.2
     }
    }
    Plotly.newPlot('fractional', data, layout);

    var data = [
    {% for targ in targ_coords %} 
    {
      name: '{{targ}}',
      id: '{{targ}}',
      mode: 'markers',
      marker: {
        symbol: 'circle',
        size: 3
      },
      x:{{targ_coords[targ]["x"] | tojson}},
      y:{{targ_coords[targ]["y"] | tojson}},
      text: {{targ_coords[targ]["name"] | tojson}},
      showInLegend: true
    },
    {% endfor %}
    {% for targ in targ_coords_all %} 
    {
      enableMouseTracking: false,
      name: '{{targ}}',
      mode: 'markers',
      marker: {
        symbol: 'circle',
        color: 'rgba(0,0,0,0.1)',
        size: 1
      },
      x:{{targ_coords_all[targ]["x"] | tojson}},
      y:{{targ_coords_all[targ]["y"] | tojson}},
      text: {{targ_coords_all[targ]["name"] | tojson}},
      showlegend: false
    },
    {% endfor %}
    ];
    
    var layout = {
     xaxis: {
      zeroline: false,
      hoverformat: '.1f',
      range:[360, 0],
      tick0: 360,
      dtick: 90,
      title:{'text': 'RA'}
     },
     yaxis: {
      zeroline: false,
      hoverformat: '.1f',
      range: [-90, 50],
      tick0: -90,
      dtick: 30,
      title:{'text': 'Dec'}
     },
     legend:{
      itemsizing: 'constant',
      orientation: 'h',
      yref: 'paper',
      y: -0.2
     }
    }
    Plotly.newPlot('map', data, layout);

  function createFracCompTable(){
    
    var headers = ['MJD'];
    var mjds =  {{mjds | tojson}};
    var data = [];

    let subData = [];
    let prog = [];

    {% for targ in fractional %}
      headers.push('{{targ}}');
      subData = [];

      prog = {{fractional[targ] | tojson}};
      for (i=0;i<prog.length;i++){
        subData.push(prog[i]*100.0);
      }
      data.push(subData);
    {% endfor %}

    drawDiv = document.getElementById('fracTable');

    tbl = document.createElement('table');
    tbl.setAttribute('id','jsfracComplete')

    var tr = tbl.insertRow();
    for (let j = 0; j < headers.length; j++) {
      var td = tr.insertCell();
      if (j == headers.length - 1){
        td.appendChild(document.createTextNode(headers[j]));
      }
      else{
        td.appendChild(document.createTextNode(headers[j] + ",   "));
      }
    }

    for (let i = 0; i < mjds.length; i++) {
      var tr = tbl.insertRow();
      for (let j = 0; j < headers.length; j++) {
        var td = tr.insertCell();
        if (j === 0) {
          td.appendChild(document.createTextNode(mjds[i] + ",   "));
        } else if (j == headers.length - 1){
          td.style.textAlign = "right";
          td.style.width = "75px";
          td.appendChild(document.createTextNode(data[j - 1][i].toFixed()));
        }
        else {
          td.style.textAlign = "right";
          td.style.width = "75px";
          td.appendChild(document.createTextNode(data[j - 1][i].toFixed() + ",   "));
        }
      }
    }
    drawDiv.appendChild(tbl);
  }

  function copyFracCompTable(){
    var tab = document.getElementById('jsfracComplete');
    navigator.clipboard.writeText(tab.innerText.replaceAll("\t", " "));
    alert("Copied table to clipboard!");
  }

  function copydoneTilesTable(){
    var tab = document.getElementById('doneTiles');
    navigator.clipboard.writeText(tab.innerText.replaceAll("\t", " "));
    alert("Copied table to clipboard!");
  }
  
</script>

{% endblock body %}
