{% set active_page = "progress" %}
{% extends "layout.html" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Progress</title>
{% endblock head %}

{% block body %}

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div id="dithers"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div id="fractional"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div id="map"></div>
    </div>
    <div class="card">
      <div id="fracTable">
        <button type="button" class="btn btn-default"  onclick="createFracCompTable()">Create Fractional Completion Table</button>
        <button type="button" class="btn btn-default"  onclick="copyFracCompTable()">Copy to Clipboard</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    Highcharts.chart("dithers", {
    chart: { zoomType: 'x' },
    title: {text: "N Dithers Done; full survey is at {{full_survey_count}}"},
    xAxis: { title: { text: 'MJD' } },
    yAxis: [{ title: { text: 'Dithers' },
                    plotLines: [{ value: 0, width: 1, color: '#bf371f' }]}],
    tooltip: { crosshairs: true, shared: true },
    series: [
      {% for targ in cumulative %}
      {
      name: '{{targ}}',
      data: {{cumulative[targ] | tojson}},
      showInLegend: true, 
      },
      {% endfor %}
    ]
    });

    Highcharts.chart("fractional", {
    chart: { zoomType: 'x' },
    title: {text: "Fractional Completion"},
    xAxis: { title: { text: 'MJD' } },
    yAxis: [{ title: { text: 'Percent Done' },
                    plotLines: [{ value: 0, width: 1, color: '#bf371f' }],
              labels:{
                  formatter:function(){                    
                      return ((this.value)*100).toFixed(1) + ' %';
                  }
              },
           }],
    tooltip: { crosshairs: true, 
                formatter:function(){
                      return (this.y*100).toFixed(1) + ' %'; }
             },
    series: [
      {% for targ in fractional %}
      {
      name: '{{targ}}',
      data: {{fractional[targ] | tojson}}
      },
      {% endfor %}
    ]
    });

    Highcharts.chart('map', {
      chart: { type: 'scatter', zoomType: 'xy'},
      title: {text: '', align: 'center'},
      xAxis: {title: {text: 'RA'}, min: 0, max: 360, reversed: true, tickInterval: 90},
      yAxis: {title: {text: 'Dec'}, min: -90, max: 90, tickInterval: 30},
      legend: {enabled: true},
      plotOptions: {
        scatter: {
          marker: {
            radius: 2.5,
            symbol: 'circle',
            states: {
              hover: {
                enabled: true,
                lineColor: 'rgb(100,100,100)'
              }
            }
          },
          states: {
            hover: {
              marker: {
                enabled: false
              }
            }
          },
        }
      },
      tooltip: {
        // pointFormat: 'RA: {point.x} deg <br/> Dec: {point.y} deg'
        formatter:function(){
          let label = this.series.name 
                      + ' </br> Tile ID ' + this.point.name
                      + ' </br> RA: ' + this.x.toFixed(1)
                      + '</br> Dec: ' + this.y.toFixed(1)
          return label;}
      },
      series: [
        {% for targ in targ_coords %} 
        {
          name: '{{targ}}',
          id: '{{targ}}',
          marker: {
            symbol: 'circle'
          },
          data : {{targ_coords[targ] | tojson}},
          showInLegend: true
        },
        {% endfor %}
        {% for targ in targ_coords_all %} 
        {
          enableMouseTracking: false,
          name: '{{targ}}',
          id: '{{targ}}',
          marker: {
            symbol: 'circle',
            fillColor: 'rgba(0,0,0,0.1)',
            radius: 1
          },
          data : {{targ_coords_all[targ] | tojson}},
          showInLegend: false
        },
        {% endfor %}
      ]
    });

  function createFracCompTable(){
    
    var headers = ['MJD'];
    var mjds = [];
    var data = [];

    let subData = [];
    let prog = [];

    {% for targ in fractional %}
      mjds = [];
      headers.push('{{targ}}');
      subData = [];

      prog = {{fractional[targ] | tojson}};
      for (i=0;i<prog.length;i++){
        mjds.push(prog[i][0]);
        subData.push(prog[i][1]*100.0);
      }
      data.push(subData);
    {% endfor %}

    drawDiv = document.getElementById('fracTable');

    tbl = document.createElement('table');
    tbl.setAttribute('id','jsfracComplete')

    var tr = tbl.insertRow();
    for (let j = 0; j < headers.length; j++) {
      var td = tr.insertCell();
      if (j == headers.length - 1){
        td.appendChild(document.createTextNode(headers[j]));
      }
      else{
        td.appendChild(document.createTextNode(headers[j] + ",   "));
      }
    }

    for (let i = 0; i < mjds.length; i++) {
      var tr = tbl.insertRow();
      for (let j = 0; j < headers.length; j++) {
        var td = tr.insertCell();
        if (j === 0) {
          td.appendChild(document.createTextNode(mjds[i] + ",   "));
        } else if (j == headers.length - 1){
          td.style.textAlign = "right";
          td.style.width = "75px";
          td.appendChild(document.createTextNode(data[j - 1][i].toFixed()));
        }
        else {
          td.style.textAlign = "right";
          td.style.width = "75px";
          td.appendChild(document.createTextNode(data[j - 1][i].toFixed() + ",   "));
        }
      }
    }
    drawDiv.appendChild(tbl);
  }

  function copyFracCompTable(){
    var tab = document.getElementById('jsfracComplete');
    navigator.clipboard.writeText(tab.innerText);
    alert("Copied table to clipboard! \nWatch out for tabs!");
  }

</script>

{% endblock body %}
